@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(222,245,229);
background: linear-gradient(90deg, rgba(222,245,229,1) F7ECDE0%, rgba(188,234,213,1) 31%, rgba(158,213,197,1) 57%, rgba(142,195,176,1) 100%);
}

.card {
  background-color: #f8f6f4;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  position: absolute;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.613);
}

.left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.product-name h3 {
  font-size: 1.5rem;
  color: #354259;
}

.left img {
  height: 20px;
  width: 20px;
  border: 1px solid grey;
  padding: 2px;
  border-radius: 50%;
}
.right {
  background-color: black;
  width: 200;
  border-radius: 10px 0 0 10px;
  position: relative;
  right: -15px;
}

.img-selected {
  background-color: grey;
  transition: 400ms ease-in;
}

#preview-image {
  position: absolute;
  width: 250px;
  height: 300px;
  top: 20px;
  left: 30px;
}
.product-size {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.product-size > div {
  border: 1px solid rgba(0, 0, 0, 0.191);
  border-radius: 2px;
  width: 30px;
  height: 20px;
  padding: 4px;
  text-align: center;
}

.size-selected {
  background-color: black;
  color: white;
}

.product-price {
  font-weight: 700;
}

.product-price span {
  font-weight: 500;
  font-size: 12px;
}

button {
  width: 100px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #fcbd00;
  font-size: 13px;
  font-weight: 700;
  box-shadow: 2px 2px 4px grey;
}
